.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 16px;
}

.card > img {
  width: 100%;
}

.card {
  width: 100%; /* Adjust for different number of cards per row */
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid black;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .card {
    width: calc(
      100% / 2 - 42px
    ); /* Adjust for different number of cards per row */
  }
}

@media screen and (min-width: 920px) {
  .card {
    width: calc(
      100% / 3 - 52px
    ); /* Adjust for different number of cards per row */
  }
}
